<%
    restriccionLista = new ArrayList();
    String cajeroAuxiliar = (String)request.getParameter("codigoUsuario");
    restriccionLista.add(cajeroAuxiliar);
    
    lista = cons.obtenerRegistros(query, 
           new ArrayList<String>(restriccionLista)); 
               
    auxiliarTitulos = new ArrayList<>(titulo);
    //removemos un titulo que no nos interesa
    //Agregamos datos y titulos
    session.setAttribute("listadoDatos",lista);
    session.setAttribute("listadoTitulos",auxiliarTitulos);
    //Agregamos detalles
    session.setAttribute("subtitulo","Transacciones del cajero "+cajeroAuxiliar);            
    session.setAttribute("nombrePDFSaliente","Transacciones del cajero "+cajeroAuxiliar);
    session.setAttribute("archivojrxml","reporte-7-columnas");
%>
<h1>Transacciones del cajero</h1>
<%   
    if(lista != null && lista.size() > 0){
        //listamos las cuentas porque existen
       %>  
       <a class="btn btn-dark" href="../ControladorExportarReporte">Exportar</a>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
                <%
                        for(int i = 0; i < titulo.size(); i++){
                %>            
                <th scope="row"><%=titulo.get(i)%></th>
                <%
                    }
                %>
            </tr>
          </thead>
          <tbody>
              <%
                for(int i = 0; i < lista.size(); i++){
              %>
                <tr>
                    <th scope="row"><%=i + 1%></th>
                <%
                    for(int j = 0; j < lista.get(0).size(); j++){
                %>
                        <td><%=lista.get(i).get(j)%></td>
                    <%
                    }                         
                    %>
                </tr>
              <%
                }      
              %>
          </tbody>
        </table>
       <%
    
    }else{
%>
    <h5>Este usuario no posee transacciones</h5>
<% 
    }
%>
