<%
    restriccionLista = new ArrayList();
    String clienteAux112 = request.getParameter("codigoUsuario");
    restriccionLista.add(clienteAux112);
    
    lista = cons.obtenerRegistros(query, 
           new ArrayList<String>(restriccionLista));
    
    auxiliarTitulos = new ArrayList<>(titulo);
    auxiliarTitulos.remove(auxiliarTitulos.size() - 1);
    //removemos un titulo que no nos interesa
    //Agregamos datos y titulos
    session.setAttribute("listadoDatos",lista);
    session.setAttribute("listadoTitulos",auxiliarTitulos);
    //Agregamos detalles
    session.setAttribute("subtitulo","Transacciones por intervalo cuenta: Listado cuentas");            
    session.setAttribute("nombrePDFSaliente","Transacciones por intervalo cuenta: Listado cuentas");
    session.setAttribute("archivojrxml","reporte-4-columnas");
%>
<h1>Transacciones por intervalo cuenta: Listado cuentas</h1>
<%   
    if(lista != null && lista.size() > 0){
        //listamos las cuentas porque existen
       %>  
       <a class="btn btn-dark" href="../ControladorExportarReporte">Exportar</a>
       <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                  <%
                          for(int i = 0; i < titulo.size(); i++){
                  %>            
                  <th scope="row"><%=titulo.get(i)%></th>
                  <%
                      }
                  %>
              </tr>
            </thead>
            <tbody>
                <%
                  for(int i = 0; i < lista.size(); i++){
                %>
                  <tr>
                      <th scope="row"><%=i + 1%></th>
                  <%
                      for(int j = 0; j < lista.get(0).size(); j++){
                  %>
                          <td><%=lista.get(i).get(j)%></td>
                      <%
                      }

                      %>
                      <td>
                          <a href="ingresar-intervalo-dato.jsp?intervalo=tiempo&direccion=listado-transaciones-por-cuenta-intervalo-tiempo&cuenta-id=<%=lista.get(i).get(0)%>" class="btn btn-success">1. Ver</a>
                         
                      </td>
                  </tr>
                <%
                  }      
                %>
            </tbody>
        </table>
       <%
    
    }else{
%>
    <h5>Este cliente no posee cuentas bancarias</h5>
<% 
    }
%>
