<%
    String tiempo1R72 = (String) request.getParameter("tiempo1");
    String tiempo2R72 = (String) request.getParameter("tiempo2");
    restriccionLista = new ArrayList();
    restriccionLista.add(tiempo1R72);
    restriccionLista.add(tiempo2R72);
    String clienteAuxR72 = (String)request.getParameter("codigoUsuario");
    restriccionLista.add(clienteAuxR72);
    
    lista = cons.obtenerRegistros(query, 
           new ArrayList<String>(restriccionLista)); 
    
    auxiliarTitulos = new ArrayList<>(titulo);
    //removemos un titulo que no nos interesa
    //Agregamos datos y titulos
    session.setAttribute("listadoDatos",lista);
    session.setAttribute("listadoTitulos",auxiliarTitulos);
    //Agregamos detalles
    session.setAttribute("subtitulo","Transacciones del cajero ("+clienteAuxR72+") con mas transacciones en el intervalo de tiempo: "+tiempo1R72+" y "+tiempo2R72);            
    session.setAttribute("nombrePDFSaliente","Transacciones del cajero ("+clienteAuxR72+") con mas transacciones en el intervalo de tiempo: "+tiempo1R72+" y "+tiempo2R72);
    session.setAttribute("archivojrxml","reporte-7-columnas");
%>
<h1>Transacciones del cajero con mas transacciones entre el intervalo</h1>
<h3>Fecha inicial : <%=tiempo1R72%> y Fecha final : <%=tiempo2R72%></h3>
<h3>Cajero con codigo: <%=clienteAuxR72%></h3>
<%   
    if(lista != null && lista.size() > 0){
        //listamos las cuentas porque existen
       %>  
       <a class="btn btn-dark" href="../ControladorExportarReporte">Exportar</a>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
                <%
                        for(int i = 0; i < titulo.size(); i++){
                %>            
                <th scope="row"><%=titulo.get(i)%></th>
                <%
                    }
                %>
            </tr>
          </thead>
          <tbody>
              <%
                for(int i = 0; i < lista.size(); i++){
              %>
                <tr>
                    <th scope="row"><%=i + 1%></th>
                <%
                    for(int j = 0; j < lista.get(0).size(); j++){
                %>
                        <td><%=lista.get(i).get(j)%></td>
                    <%
                    }                         
                    %>
                </tr>
              <%
                }      
              %>
          </tbody>
        </table>
       <%
    
    }else{
%>
    <h5>Este cajero no posee transacciones</h5>
<% 
    }
%>
