<%
    restriccionLista = new ArrayList();
    String cuentaAux = request.getParameter("cuenta-id");
    restriccionLista.add(cuentaAux);
    
    lista = cons.obtenerRegistros(query, 
           new ArrayList<String>(restriccionLista));
    
    List<ArrayList<String>> listaCreditoCuentaId;
    listaCreditoCuentaId = cons.obtenerRegistros("SELECT credito FROM CUENTA WHERE codigo = ?", 
           new ArrayList<String>(restriccionLista));
    String creditoCuentaId;
    try{
        creditoCuentaId = listaCreditoCuentaId.get(0).get(0);
    }catch(Exception ex){
        creditoCuentaId = "0";
    }
%>
<h1>Estado de la cuenta: <%=cuentaAux%></h1>
<h1>Balance <%=creditoCuentaId%></h1>
<%   
    if(lista != null && lista.size() > 0){
        //listamos las cuentas porque existen
       %>  
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
                <%
                        for(int i = 0; i < titulo.size(); i++){
                %>            
                <th scope="row"><%=titulo.get(i)%></th>
                <%
                    }
                %>
            </tr>
          </thead>
          <tbody>
              <%
                String valorFinal;//Valor final de los saldos finales ed una transferencia
                String valorInicial = "";//valor que contendra los montos iniciales en una transferencia
                for(int i = 0; i < lista.size(); i++){
              %>
                <tr>
                    <th scope="row"><%=i + 1%></th>
                <%
                    for(int j = 0; j < lista.get(0).size(); j++){
                %>
                        <td><%=lista.get(i).get(j)%></td>
                    <%
                    } //En la posicion lista.get(i).get(4) estan los montos manejados por esa transaccion
                        
                        if(i == 0){//si es la primera posicion el valor sera el saldo actual de la cuenta
                            valorFinal = creditoCuentaId;
                        }else{
                            valorFinal = valorInicial; //Si no es la primra posicion sera el saldo inicial anterior
                        }
                                               
                        //En la posicion lista.get(i).get(3) estan los tipos de esa transaccion
                        //Si es un retiro el valor inicial el dinero actual + monto
                        if(lista.get(i).get(3).equalsIgnoreCase("debito") || lista.get(i).get(3).equalsIgnoreCase("debito por transferencia")){
                            String montoAux = lista.get(i).get(4);
                            valorInicial = String.valueOf(Double.parseDouble(valorFinal) + Double.parseDouble(montoAux));
                        }else{//es un deposito
                            String montoAux = lista.get(i).get(4);
                            valorInicial = String.valueOf(Double.parseDouble(valorFinal) - Double.parseDouble(montoAux));
                        }
                        
                    %>
                    <td><%=valorInicial%></td>
                    <td><%=valorFinal%></td>
                </tr>
              <%
                }      
              %>
          </tbody>
        </table>
       <%
    
    }else{
%>
    <h5>Esta cuenta no posee transacciones</h5>
<% 
    }
%>
